

:root
{
    --black: rgba(0, 0, 0, 0.8);
    --white: white;
    --spot: #2FE695;
    --lightBackground: white;
    --lightGrey: #E7E7E7;
    --darkGrey: #D8D8D8;
    --blueBackground: #232C56;
    --purpleBackground: #3A2C4D;
    --blackBackground: #21263D;
}

.paddingBottom
{
    padding-bottom: 40px;
}

.imgPadding
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.largePadding
{
    padding-right: 40px;
    padding-left: 40px;
}

.line
{
    border-top: solid 1px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
}

.divider
{
    border-top: solid 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}


body
{
    overflow-x: hidden;
}

/* ---------------------- FONTS --------------------- */

@font-face{
   font-family: 'art-thin';
   src: url('assets/fonts/Artifakt Element Thin.otf');
}

@font-face{
   font-family: 'art-light';
   src: url('assets/fonts/Artifakt Element Light.otf');
}

@font-face{
   font-family: 'art-reg';
   src: url('assets/fonts/Artifakt Element Regular.otf');
}

@font-face{
   font-family: 'art-med';
   src: url('assets/fonts/Artifakt Element Medium.otf');
}

@font-face{
   font-family: 'art-bold';
   src: url('assets/fonts/Artifakt Element Bold.otf');
}

h1
{
    font-size: 5em;
    color: var(--black);
    font-family: 'art-thin';
    cursor: default;
    margin-bottom: -20px;
}

.heroSubText
{
    font-size: 1.5em;
    color: var(--black);
    font-family: 'art-reg';
    line-height: 1.5;
    cursor: default;
    margin-bottom: 40px;
}

h2
{
    font-size: 3em;
    font-family: 'art-thin';
    cursor: default;
}

h3,.h3
{
    font-size: 1.5em;
    font-family: 'art-bold';
    padding-bottom: 20px;
    line-height: 1.5;
    cursor: default;
}

h4
{
    font-size: 1.2em;
    font-family: 'art-reg';
    line-height: 1.5;
    cursor: default;
}

h5
{
    font-size: 1.2em;
    padding-bottom: 10px;
    font-family: 'art-bold';
    cursor: default;
}

h6
{
    font-family: 'art-bold';
    color: var(--white);
    font-size: 4em;
    cursor: default;
    margin-bottom: 20px;
}

.fontSuperscript
{
    font-size: 0.9em;
    opacity: 0.5;
}

p
{
    font-family: 'art-med';
    line-height: 1.6;
    cursor: default;
}

#heroText
{
    width: 100%;
}

#heroText a:hover
{
    text-decoration: none;
}

.footer, .footer:visited
{
    color: var(--black);
    font-size: 1em;
    font-family: 'art-med';
    opacity: 0.6;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

.footer:hover
{
    color: var(--black);
    opacity: 0.8;
    text-decoration: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

/* ---------------------- COOKIES --------------------- */

#cookiesModal
{
    position: absolute;
    top: 0px;
    width: 100%;
    color: var(--black);
    background: var(--lightBackground);
    z-index: 100;
    padding: 22px 100px 17px 20px;
}

.cookiesButton
{
    position: absolute;
    color: var(--black);
    top: 0px;
    right: 0;
    height: 100%;
    width: 100px;
    border: none;
    background-color: var(--spot);
    font-family: 'art-med';
}

/* ---------------------- NAVIGATION --------------------- */

.navbar
{
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--white);
    z-index: 2;
}

.nav
{
    font-family: 'art-med';
}

.navbar-brand
{
    padding-top: 10px;
}

.navbar-nav > li > a {
    cursor: pointer;
}

/* ---------------------- SECTIONS --------------------- */

#heroSection
{
    background-image: url("assets/images/hero.png");
    background-size: cover;
    background-position: top center;
    color: var(--black);
    text-align: center;
    min-height: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#valueSection
{
    color: var(--black);
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

#interfaceSection
{
    color: var(--black);
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.feature1
{
    background-image: url("assets/images/back1.png");
    background-size: 100% 100%;
    background-position: top right;
    background-repeat: no-repeat;
    color: var(--white);
    padding-top: 120px;
    padding-bottom: 180px;
}

.feature2
{
    background-image: url("assets/images/back2.png");
    background-size: 100% 100%;
    background-position: top right;
    background-repeat: no-repeat;
    color: var(--black);
    padding-top: 120px;
    padding-bottom: 180px;
}

.feature3 {
    background-image: url("assets/images/back3.png");
    background-size: 100% 100%;
    background-position: top right;
    background-repeat: no-repeat;
    color: var(--white);
    padding-top: 120px;
    padding-bottom: 180px;
}

#futureSection
{
    color: var(--black);
    background: var(--lightBackground);
    text-align: left;
    padding-top: 100px;
    padding-bottom: 180px;
}

.trySectionTop
{
    color: var(--black);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.trySectionCards
{
    background-image: url("assets/images/back4.png");
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 180px;
}

#autodeskSection
{
    color: var(--black);
    background-image: url("assets/images/back3.png");
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 180px;
}

#teamSection
{
    color: var(--black);
    background: var(--lightBackground);
    text-align: center;
    padding-top: 120px;
    padding-bottom: 180px;
}

#footerSection
{
    color: var(--black);
    background: var(--white);
    padding-top: 30px;
}

/* ---------------------- CONTROLS --------------------- */

.bigButton, .bigButton:focus
{
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    font-family: 'art-bold';
    border: none;
    padding: 15px 30px 15px 30px;
    width: 100%;
    max-width: 250px;
    background-color: var(--spot);
    color: var(--black);
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.bigButton:hover
{
    opacity: 1;
    transform: translate3d(0px, -1px, 0px);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
    color: var(--black);
}

.downButton
{
    margin-top: 20px;
}

/* ---------------------- CARDS --------------------- */

.card1
{
    background: var(--blueBackground);
    color: var(--white);
    height: 400px;
}

.card2
{
    background: var(--purpleBackground);
    color: var(--white);
    height: 400px;
    margin-top: 0px;
}

.card3
{
    background: var(--blackBackground);
    color: var(--white);
    height: 400px;
}

.cardTop
{
    background: var(--spot);
    padding: 20px;
    color: var(--black);
}

.cardBody
{
    padding: 20px;
}

/* ---------------------- SLIDESHOW --------------------- */

.slideStart
{
    position: fixed;
    width: 100%;
    max-width: 650px;
    right: 0;
}

.slideEnd
{
    animation-name: slideShowEnd;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
    float: right;
    width: 100%;
    max-width: 650px;
    right: 0;
}

@keyframes slideShowEnd{
    0%   {opacity: 0; }
    25%  {opacity: 1; }
    50%  {opacity: 1; }
    100% {opacity: 0; }
}

.collNoPadding
{
    padding-right: 0px;
}

/* ---------------------- RESPONSIVE --------------------- */


@media (max-width:992px)
{
    .cardHeader
    {
        font-size: 2.0em;
    }
    .card2
    {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}


@media (max-width:768px)
{
    h1
    {
        font-size: 3em;
    }
    h2
    {
        font-size: 2.5em;
        font-family: 'art-thin';
        cursor: default;
    }
        .cardHeader
    {
        font-size: 2.5em;
    }
    #interfaceSection
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .feature1
    {
        background-size: cover;
        background-position: top left;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .feature2
    {
        background-image: none;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .feature3
    {
        background-size: cover;
        background-position: top center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #futureSection
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .trySectionTop
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .trySectionCards
    {
        padding-top: 0px;
        padding-bottom: 160px;
    }
    #teamSection
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #footerSection
    {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .extraPaddingPhone
    {
        padding-top: 120px;
    }
    .card2
    {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

/* Light YouTube Embeds by @labnol */
/* Web: http://labnol.org/?p=27941 */
.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}

.overlay-fader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000000000;
    background-color: var(--white);
    opacity: 0;
}