@import './variables.css';

.BlockNotes {
  background-color: var(--colors-lightGrey);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  .key {
    color: var(--colors-grey);
  }
  .value {
    color: var(--colors-nearlyBlack);
    font-family: var(--font-family-bold);
    text-indent: 2rem;
  }

}