@import './variables.css';

:root {
  --chevron-color: var(--colors-nearlyBlack);
  --chevron-size: 1.5rem;
}

.chevron {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--chevron-size);
  height: var(--chevron-size);

  .corner {
    border-top: 2px solid var(--chevron-color);
    border-right: 2px solid var(--chevron-color);
    box-sizing: border-box;
    width: 50%;
    height: 50%;
  }
  .right {
    transform: translateX(-20%) rotate(45deg);
  }
  .down {
    transform: translateY(-20%) rotate(135deg);
  }
  .left {
    transform: translateX(20%) rotate(225deg);
  }
  .up {
    transform: translateY(20%) rotate(315deg);
  }
}