@import './variables.css';

.single-color-picker {

  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem 0;

  .label {

  }

  .color-wrapper {
    z-index: 1;
    padding: 0.2rem;
    border-radius: 2px;
    &:hover {
      background-color: var(--colors-selected);
    }
  }
  .color {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 2px solid transparent;
  }

  .dropdown {
    position: absolute;
    padding: 4px 0;
    left: 0;
    top: 64px;
    width: 258px;
    background-color: var(--colors-nearlyBlack);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .arrow {
      width: 20px;
      height: 20px;
      background-color: var(--colors-nearlyBlack);
      position: absolute;
      transform: rotate(45deg);
      left: 15px;
      top: -10px;
    }
  }
}