@import 'variables.css';

:root {
  --corner-size: 30px;
  --corner-side-length: 15px;
}

.construct-viewer {
  position: relative;

  .corner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border: var(--corner-side-length) solid;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
  }

  .title {
    font-size: 16px;
    cursor: pointer;
    color: var(--colors-selected);
  }
}

