@import './variables.css';

.ExtensionView {
  position: relative;
  height: var(--projectDetailsHeight);
  width: 100%;
  overflow: hidden;
  display: none;

  &.visible {
    display: block;
    background-color: var(--colors-mediumDarkGrey);
  }

  &-content {
    width: calc(100% - 1rem);
    height: 100%;
    background-color: var(--colors-white);
    margin: 0 0.5rem 0 0.5rem;
  }

  &-error {
    padding: 2rem;
    background-color: rgba(255,0,0,0.25);
    z-index: 10;
    position: absolute;
    top: 0; left: 0; right: 0; bottom:0;

    p {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &-stack {
      font-family: monospace;
    }
  }
}
