@import './variables.css';

.FormPassword {
  display: flex;
  flex-direction: row;
  position: relative;

  .FormText {
    flex: 1 0 auto;
    padding-right: 70px;
  }

  &-toggle,
  &-forgot {
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    width: 60px;
    padding: 3px 0 0;
    text-align: center;
    user-select: none;
  }

  &-toggle {
    background-color: var(--colors-lightGrey);
    color: var(--colors-white);
    transition: background-color var(--timing-extrafast) ease-out;

    &:not(.disabled):hover {
      cursor: pointer;
      background-color: var(--colors-slightlyLightGrey);
    }
  }

  &-forgot {
    cursor: pointer;
    color: var(--colors-selected);
  }
}