@import './variables.css';

.FormGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0;

  &-element {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: 0 1rem 0 1.5rem;

    > .formElement,
    > div {
      flex: 1 0 auto;
    }
  }

  &-label,
  &-error {
    flex: 0 0 auto;
    align-self: center;
    width: 165px;
    transition: border-color var(--timing-fast) ease-out, color var(--timing-fast) ease-out;

    &--top {
      padding-top: 1px;
      align-self: flex-start;
    }
  }

  &-label {
    text-align: right;
  }

  &-error {
    max-height: 28px;
    margin-top: -4px;
    overflow-y: visible;
  }

  &.hasError .errorStyle,
  &.hasError &-label,
  &.hasError &-error {
    border-color: var(--colors-red);
    color: var(--colors-red);
  }
}
