@import 'variables.css';

.GlobalNav {
  position: relative;
  display: inline-flex;
  width: 400px;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  background-color: var(--colors-darkerGrey);

  &-logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &-appname {
    color: white;
    text-transform: uppercase;
    font-family: var(--font-family-light);
    font-size: 20px;
  }
  &-action {
    padding: 0 1rem 0 1rem;
    line-height: var(--GlobalNav-height-chrome);
    &:not([disabled]):hover {
      cursor: pointer;
      background-color: var(--colors-selected);
    }
  }

}
