@import './variables.css';

.inline-editor {
  position: absolute;
  outline: none;
  border: 2px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: var(--zModal);
}
/*styles for specific inline editing contexts*/
.inline-editor-project {
  text-indent: 9px;
  font-size: 16px;
}
.inline-editor-construct-title {
  font-size: 20px;
  text-indent: 4px;
  border-radius: 5px;
  padding-right: 4px;
}
.inline-editor-block {
  font-size: 12px;
  text-indent: 7px;
  padding-right: 7px;
}

/*hover glyph for inline editing hint*/
.inline-editor-hover {
  position: absolute;
  background-color: gray;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  img {
    margin-left: 12px;
    margin-right: 12px;
  }
  span {
    white-space: nowrap;
  }
}
.inline-editor-hover-block {
  left: 6px;
  top: 4px;
  font-size: 12px;
  padding: 4px 0 4px 4px;
}

.inline-editor-hover-title {
  left: 0px;
  top: 4px;
  font-size: 20px;
  padding: 3px 0 4px 0px;
}
.inline-editor-hover-project {
  left: 10px;
  top: 6px;
  font-size: 16px;
  padding: 4px 0 4px 0;
}


