@import './variables.css';

/*interaction blocker for popup menus, when visible or hidden*/
.inline-blocker {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: var(--zModal);
}
.inline-editor {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}

