@import 'variables.css';

.InputSimple {
  input,
  input:focus,
  textarea {
    width: 100%;
    outline: 0;
    padding: 0.25rem 0.25rem;
    margin: 0;
    border-radius: 2px;
    font-size: 12px;
    color: var(--colors-nearlyBlack);
    border: solid 2px var(--colors-lightGrey);
    transition: border-color var(--timing-fast) ease-out;
    background: var(--colors-white);

    &:focus {
      border-color: var(--colors-slightlyDarkGrey);
    }

    &[disabled] {
      background-color: var(--colors-lighterGrey);
      cursor: not-allowed;
    }
  }

  input {
    height: 28px;
    line-height: 28px;
  }

  textarea {
    line-height: 1;
    padding: 0.5rem 0.75rem;
  }
}
