@import './variables.css';

.InspectorRow {
  margin: 0.75rem 0 0.25rem;

  &:empty {
    margin: 0;
  }

  &-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-text);
    font-family: var(--font-family-base);
    color: var(--colors-mediumDarkGrey);
    margin: 0 0 0.5em;
    user-select: none;

    &.active {
      font-weight: bold;
    }

    &-glyph {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5em;
      outline: 0;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border-image: none;
    }

    &-text {
      flex: 1 0 auto;
    }

    &-switch {
      cursor: pointer;
      height: 1.5rem; /* hack - ensure not too high */
    }
  }

  &-content {

  }

  &.compact {
    margin: 0.25rem 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 2em;
  }
}