@import './variables.css';

.InspectorGroupFeedback {
  width: 100%;
  height: 100%;
  background-color: white;

  .star-box {
    position: relative;
    width: 180px;
    height: 32px;
    margin: 0 auto;
  }
  .star-five {
    margin: 50px 0;
    position: absolute;
    display: block;
    color: gold;
    width: 0px;
    height: 0px;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid gold;
    border-left:   100px solid transparent;
    transform:    rotate(35deg);
    background-color: var(--colors-white)''
  }
  .star-five:before {
    border-bottom: 80px solid gold;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 10px;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-five:after {
    position: absolute;
    display: block;
    color: gold;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid gold;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  .star-five-small {
    transform: translate(-80px, -70px) scale(0.14, 0.15) rotate(35deg);
    position: absolute;
    cursor: pointer;
  }
  .star-0 {
    left: 0px;
  }
  .star-1 {
    left: 30px;
  }
  .star-2 {
    left: 60px;
  }
  .star-3 {
    left: 90px;
  }
  .star-4 {
    left: 120px;
  }
  .star-gray {
    filter: grayscale() opacity(0.5);
  }
  .bold {
    font-family: ArtifaktElementBold;
  }
  .light {
    color: var(--colors-grey);
  }
  input[type="range"] {
    width: 100%;
    margin-top: 1rem;
  }
  .dropdown-container {
    background-color: var(--colors-lighterGrey);
    padding: 0.5rem;
  }
  textarea {
    border: none;
    border-radius: 3px;
    background-color: var(--colors-lighterGrey);
    width: 100%;
    height: calc(100% - 38rem);
    outline: none;
    resize: none;
  }
  .checkbox-label {
    margin-left: 0.5rem;
  }
  .publish-button {
    border: none;
    background-color: var(--colors-selected);
    color: var(--colors-white);
    border-radius: 3px;
    padding: 2px 10px;
    float: right;
  }
  .socialist {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .social-button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 3px;
    }
  }
}