@import './variables.css';

.InspectorRow {

  margin-top: 0.5em;

  &:empty {
    margin: 0;
  }

  &-heading {
    font-size: var(--font-size-text);
    margin: 0 0 0.5em;
    user-select: none;

    &.toggler {
      cursor: pointer;
    }

    &.active {
      font-weight: bold;
    }
  }

  &-content {

  }

  &:last-child {
    margin-bottom: 2em;
  }
}