@import 'variables.css';

.Inspector {

  .container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .title {
    height: var(--width-SidePanel-closed);
    line-height: var(--width-SidePanel-closed);
    padding-left: var(--SidePanel-width-padding-content);
    font-size: var(--font-size-sectionLabel);
    font-weight: 100;
    user-select: none;
    cursor: default;
    padding-right: var(--SidePanel-width-padding-content);
  }

  .vertical-menu {
    position: absolute;
    width: var(--width-SidePanel-closed);
    height: 100%;
    right: 0;
    background-color: var(--colors-darkerGrey);
    z-index: 1;
    display: flex;
    flex-direction: column;
  }

  .content {
    position: absolute;
    left: 0px;
    width: calc(var(--width-SidePanel-open) - var(--width-SidePanel-closed));
    height: 100%;
    overflow-y: scroll;
    background-color: var(--colors-white);
    color: var(--colors-nearlyBlack);
    transform: translateX(0);
    transition: transform var(--timing-fast) var(--SidePanel-ease);
  }

  .content-closed {
    transform: translateX(250px);
  }

}