@import './variables.css';

.InspectorGroupHelp {
  width: 100%;
  height: 100%;
  background-color: white;

  .Section {
    font-family: var(--font-family-bold);
    color: var(--colors-nearlyBlack);
    display: block;
    text-indent: 1.5rem;
    margin-bottom: 2px;
  }
  a {
    color: var(--colors-selected);
    text-decoration: none;
    display: block;
    text-indent: 1.5rem;
  }
  a:hover {
    text-decoration: underline;
    color: var(--colors-selected);
  }
  a:visited {
    color: var(--colors-selected);
  }
  a:active {
    color: var(--colors-selected);
  }
}