@import 'variables.css';

.Inventory {

  .container {
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family-panels);
  }

  .container * {
    font-family: var(--font-family-panels) !important;
  }

  .vertical-menu {
    position: absolute;
    width: var(--width-SidePanel-closed);
    height: 100%;
    background-color: var(--colors-darkerGrey);
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  .vertical-menu.open {
    background-color: var(--colors-nearlyBlack);
  }

  .content {
    position: absolute;
    left: 50px;
    width: calc(var(--width-SidePanel-open) - var(--width-SidePanel-closed));
    height: 100%;
    background-color: var(--colors-white);
    color: var(--colors-nearlyBlack);
    transform: translateX(0);
    transition: transform var(--timing-fast) var(--SidePanel-ease);
  }
  .content-closed {
    transform: translateX(-250px);
  }

  // force font in expandos and labels
  .label-base * {
    font-weight: normal !important;
    font-family: var(--font-family-panels) !important;
  }
  .label-bold * {
    font-weight: bold !important;
    font-family: var(--font-family-panels) !important;
  }
  .expando * {
    font-family: var(--font-family-panels) !important;
  }
}
