@import './variables.css';

.InventorySearch {
  flex-shrink: 0;
  position: relative;

  input,
  input:focus {
    width: calc(100% - (var(--SidePanel-width-padding-content) * 2));
    margin: 0 0 1.5rem var(--SidePanel-width-padding-content);
    outline: 0;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 0.5em 2em 0.5em 0.4em;
    background: white;
    color: var(--colors-text);
    background-image: url('/images/ui/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;

    &[disabled] {
      cursor: not-allowed;
    }
  }
}
