@import 'variables.css';

.Inventory {
  &-trigger {
    background-image: url('/images/ui/inventory_icon.svg');
  }

  &-main {
    display: flex;
    flex-direction: row;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 50px;
  }

  &-activeGroup {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
