@import './variables.css';

.InventoryGroup {
  display: flex;
  flex-direction: column;
  height: 100%;

  .InventoryGroup-heading {
    height: var(--width-SidePanel-closed);
    line-height: var(--width-SidePanel-closed);
    text-indent: var(--SidePanel-width-padding-content);
    font-size: var(--font-size-sectionLabel);
    font-weight: 100;
    user-select: none;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &Inner {
      overflow-y: scroll;
    }

    &Nester {
      display: flex;
      flex-direction: column;
    }
  }

  &-placeholderContent {
    color: var(--colors-greyMedLight);
    text-align: center;
    margin: 10px auto;
  }
}
