@import './variables.css';

.InventoryGroup {
  display: flex;
  flex-direction: column;

  .InventoryGroup-heading {
    height: 2.5em;
    line-height: 2.5em;
    text-indent: var(--SidePanel-width-padding-content);
    font-size: var(--font-size-sectionLabel);
    font-weight: 100;
    user-select: none;
    cursor: default;
  }

  &.active {
    flex-grow: 1;
    flex-basis: 0;

    .InventoryGroup-heading {
      background-color: transparent;
      border-top-color: transparent;
    }
  }

  &.active + & .InventoryGroup-heading,
  &:first-child .InventoryGroup-heading {
    border-color: transparent;
  }

  &-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 0.75em;
    position: relative;
    overflow: hidden;

    &Inner {
      overflow-y: scroll;
    }

    &Nester {
      display: flex;
      flex-direction: column;
    }
  }

  &-placeholderContent {
    color: var(--colors-greyMedLight);
    text-align: center;
    margin: 10px auto;
  }
}
