@import './variables.css';

.InventorySearch {
  flex-shrink: 0;
  position: relative;

  input,
  input:focus {
    width: calc(100% - (var(--SidePanel-width-padding-content) * 2));
    margin: 0 0 1.5rem var(--SidePanel-width-padding-content);
    outline: 0;
    border-radius: 2px;
    border: none;
    padding: 0.5em 2em 0.5em 0.4em;
    background: var(--colors-white);
    border: 1px solid var(--colors-lightGrey);
    color: var(--colors-text);
    background-image: url('/images/ui/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &-loadmore {
    height: 3rem;
    line-height: 3rem;
    margin-left: var(--SidePanel-width-padding-content);
    cursor: pointer;
  }
  &-loadmore:hover {
    text-decoration: underline;
  }
}
