@import './variables.css';

.InventoryGroupSearch-loadmore {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: italic;

  .label {
    color: var(--colors-mediumLightGrey);
  }
  .link {
    margin-left: 0.5rem;
    color: var(--colors-selected);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  margin: 0.5rem 0;
}