@import 'variables.css';

.Inventory {
  .container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .vertical-menu {
    position: absolute;
    width: var(--width-SidePanel-closed);
    height: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transition: background-color var(--timing-fast) var(--SidePanel-ease);
  }
  .vertical-menu.open {
    background-color: var(--colors-blueBlack);
  }

  .content {
    position: absolute;
    left: 50px;
    width: calc(var(--width-SidePanel-open) - var(--width-SidePanel-closed));
    height: 100%;
    background-color: var(--colors-white);
    color: var(--colors-blueBlack);
    transform: translateX(0);
    transition: transform var(--timing-fast) var(--SidePanel-ease);
  }
  .content-closed {
    transform: translateX(-250px);
  }
}
