@import 'variables.css';

/**
 * proxy item for DND operations
 */
.InventoryItemProxy {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid gray;
  background-color: lightgray;
  color: black;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  svg {
    width: 32px;
    height: 32px;
    filter: brightness(0%);
  }
}

.InventoryItem {
  display: block;
  font-size: 12px;
  cursor: default;
  border-radius: 2px;

  &.hasImage {
    white-space: nowrap;
    text-overflow: ellipsis;

    .InventoryItem-text {
    }
  }

  &-item {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
  }

  &-text {
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
    padding: 4px 4px;
  }

  &-image {
    display: inline-block;
    background-size: contain;
    margin-top: -0.25em;
    height: 27px;
    width: 27px;
  }

  &-detail {
    padding-left: 0.75em;
    padding-top: 4px;
    opacity: 0.5;
    flex-shrink: 0;
    align-self: flex-start;
    user-select: none;
  }

  &-glyph:not(:empty) {
    flex-shrink: 0;
    padding-right: 0.5em;
  }

  &.loading,
  &.selected {

    color: var(--colors-white);

    .InventoryItem-text {
      white-space: normal;
    }
  }

  &:hover {
    transition: 0s;
    background-color: var(--colors-lightGrey);
  }

  &.loading {
    animation: softpulse 1s infinite;
    background-color: var(--colors-grey);
  }

  &.selected {
    background-color: var(--colors-selected);
  }

  &.loadError {
    text-decoration: line-through;
    cursor: not-allowed;

    .InventoryItem-text {
      color: var(--colors-mediumLightGrey);
    }
  }
}
