@import './variables.css';

.InventoryTabs {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5em;
  display: inline-block;
  flex-shrink: 0;

  &-tab {
    text-align: center;
    font-size: var(--font-size-text);
    line-height: calc(var(--font-size-text) + 1rem);
    padding: 0.25rem;
    border-radius: 3px;
    cursor: pointer;
    margin-left: var(--SidePanel-width-padding-content);
    background-color: var(--colors-greyLight);

    &:hover {
      background-color: var(--colors-blueBlack);
      color: var(--colors-white);
    }

    &.active {
      background-color: var(--colors-blueBlack);
      color: var(--colors-white);
    }
  }
}
