@import './variables.css';

.InventoryProjectHeader {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5rem;

  img {
    cursor: pointer;
    width: 43pt;
    height: 43pt;
  }
}