@import './variables.css';

:root {
  --label-color: var(--colors-blueBlack);
  --label-background: var(--colors-white);
  --label-hover-background: var(--colors-selected);
  --label-hover-color: var(--colors-white);
}

.label-base {
  background-color: var(--label-background);
  color: var(--label-color);
  border-radius: 3px;
  padding: 2px 5px;
}
.label-hover:hover {
  background-color: var(--label-hover-background);
  color: var(--label-hover-color);
  cursor: pointer;
}
.label-disabled {
  background-color: var(--colors-white) !important;
  color: var(--colors-greyLight) !important;
}