@import './variables.css';

:root {
  --label-color: var(--colors-blueBlack);
  --label-background: var(--colors-white);
  --label-hover-background: var(--colors-selected);
  --label-hover-color: var(--colors-white);
  --label-selected: var(--colors-selected);
}

.label-base {
  border-radius: 3px;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {

    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .BasePairCount {
      margin-left: 0.25rem;
    }
  }
  .right {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;

    img:hover {
      filter: brightness(100%);
    }
  }
}
.label-base:hover {

  .left {
    .BasePairCount {
      color: white !important;
    }
  }

  .right {
    visibility: visible;
  }
}

.label-selected {
  background-color: var(--label-background);
  color: var(--label-selected);
}

.label-selected:hover {
  background-color: var(--label-hover-background);
  color: var(--label-hover-color);
  cursor: pointer;
}

.label-unselected {
  background-color: var(--label-background);
  color: var(--label-color);
}

.label-unselected:hover {
  background-color: var(--label-hover-background);
  color: var(--label-hover-color);
  cursor: pointer;
}

.label-disabled {
  background-color: var(--colors-white);
  color: var(--colors-greyLight);
}

.label-hover-bright {
  &:hover {
    filter: brightness(1000%);
  }
}

.label-bold {
  .left {
    font-family: var(--font-family-bold);
  }
}
