@import './variables.css';

.LandingPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
  padding: 0px;
  overflow: hidden;
  background-color: white;
  background-image: url('/landing/assets/images/hero.png');
  background-size: cover;
  background-position: top center;

  &-title {
    display: flex;
    flex-grow: 1;
    align-self: flex-end;
    justify-content: center;
    color: var(--black);
    text-align: center;
    padding-bottom: 2em;
    font-size: 4em;
    font-family: var(--font-family-base);
  }
}