@import './variables.css';

.menu-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  left: 0;
  top: 0;
  z-index: var(--zModal);

  &-pointer {
    position: absolute;
    transform: rotate(45deg);
    background-color: lightgray;
  }
  &-menu {
    position: absolute;
    padding: 0.5em 0;
    background-color: lightgray;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
  }
  /* top level menu gets a different shadow than sub menus */
  &-top {
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.5);
  }

  &-left {
    transform: translateX(-24px);
  }

  &-right {
    transform: translateX(-80%);
  }
}