@import './variables.css';

.menu-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  left: 0;
  top: 0;
  z-index: var(--zModal);

  &-pointer {
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--colors-lighterGrey);
    z-index: 1;
  }
  &-menu {
    position: absolute;
    padding: 1.25rem 0;
    background-color: var(--colors-lighterGrey);
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
  }
  /* top level menu gets a different shadow than sub menus */
  &-top {
    box-shadow: 0px 0px 10px 0px rgba(38,49,66, 0.6);
  }

  &-left {
    transform: translateX(-24px);
  }

  &-right {
    transform: translateX(-80%);
  }
}