.Modal {
  background-color: blue;

  &-portal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
  }

  &-overlay {
    width: 600px;
    min-height: 200px;
    max-height: 90vh;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0 0 10px 10px;
    background-color: purple;
  }

  &-header {

    &-title {

    }

    &-close {

    }
  }

  &-content {

  }

  &-portal.&--open & {
    /* transform: translate(-50%, 0px); */
  }
}

