@import './variables.css';

.color-tabs {
  margin-top: 0.5rem;

  .ribbon {
    display: flex;
    justify-content: center;

    .tab {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin: 0 0.5rem;
      background-color: var(--colors-lightGrey);
      color: var(--colors-nearlyBlack);
      border-radius: 3px 3px 0 0;
      cursor: pointer;
      text-transform: capitalize;

      &.active {
        background-color: var(--colors-darkGrey);
        color: var(--colors-white);
      }

      &.readOnly {
        cursor: default;
      }
    }
  }

  .palette-picker-content {
    padding: 4px 18px;
    background-color: var(--colors-darkGrey);
    width: 282px;
    transform: translateX(-12px);

    .color-picker {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

      .color {
        width: 54px;
        height: 54px;
        flex-shrink: 0;
        margin: 0.2rem;
        border-radius: 100%;
        background-color: whitesmoke;
        box-sizing: border-box;
        cursor: pointer;
        border: 3px solid transparent;
      }
    }
  }
}