@import './variables.css';

.ProjectDetail {

  &-open {
    color: var(--colors-greyMedLight);
    position: relative;

    &-resizeHandle {
      cursor: ns-resize;
      height: 5px;
      flex-shrink: 0;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 10;
      background-color: var(--colors-blueGreyMed);

      &:hover {
        background-color: var(--colors-blueGreyLighter);
      }

      &.dragging {
        background-color: var(--colors-blueGreyLighter);
      }
    }

    &-header {
      height: var(--projectDetailHeaderHeight);
      background-color: var(--colors-blueGreyMed);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.5rem;

      &-left {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        transform: translateY(4px);

        &-extension {
          color: var(--colors-greyMedLight);
          cursor: pointer;
          user-select: none;
          padding: 0.5rem 1rem;
        }
        &-active {
          background-color: white;
          color: black;
          border-radius: 5px 5px 0 0;
        }
      }
      &-right {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;

        &-close {
          background-image: url('/images/ui/close_icon_dark.svg');
          cursor: pointer;
          width: 17px;
          height: 17px;
          margin-right: 0.5rem;
          filter: brightness(1000%);
        }
      }
    }
  }


  &-closed {
    background-color: var(--colors-blueGreyMed);
    display: flex;
    align-items: center;
    min-height: var(--projectDetailFooterHeight);
    padding-left: 0.5rem;

    &-extension {
      color: var(--colors-greyMedLight);
      padding: 0.4rem;
      margin-right: 0.5rem;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}