@import './variables.css';

.ProjectDetail {

  &-open {
    color: var(--colors-greyMedLight);
    position: relative;

    &-resizeHandle {
      cursor: ns-resize;
      height: 5px;
      flex-shrink: 0;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 10;
      background-color: var(--colors-blueGreyMed);

      &:hover {
        background-color: var(--colors-blueGreyLighter);
      }

      &.dragging {
        background-color: var(--colors-selected);
      }
    }

    &-header {
      height: var(--projectDetailHeaderHeight);
      background-color: var(--colors-blueGreyMed);
    }
  }


  &-closed {
    background-color: var(--colors-blueGreyMed);
    display: flex;
    align-items: center;

    &-extension {
      color: var(--colors-greyMedLight);
      margin: 0.5rem 1rem;
      cursor: pointer;
      user-select: none;
    }
  }
}