@import 'variables.css';

.ProjectHeader {
  display: flex;
  flex-shrink: 0;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  color: var(--colors-lightGrey);
  cursor: pointer;

  /* left side */
  &-info {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 80%;
  }l

  &-title {
    font-size: 16px;
    text-indent: 10px;
  }

  &-description {
    word-wrap: break-word;
    white-space: pre-wrap;
    max-height: 4.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
    text-indent: 10px;
  }

  /* right side */
  &-actions {
    flex-shrink: 1;
    margin-top: -5px;
    overflow: hidden;
    height: 32px;
  }

  &-detailToggle {
    padding: 1em;
    cursor: pointer;
  }
}
