@import 'variables.css';

.ProjectHeader {
  margin-left: 16px;
  width: calc(100% - 27px);
  height: 41px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
