@import 'variables.css';

:root {
--background: #FFFA81;
--color: #67654D;
--ribbon-fontsize: 1rem;
--close-size: 20px;
}

.ribbongrunt {
  position: fixed;
  top: var(--GlobalNav-height-chrome);
  left: 50%;
  z-index: var(--z-grunt);
  font-size: var(--ribbon-fontsize);
  background-color: var(--background);
  color: var(--color);
  text-align: center;
  border-radius: 0 0 5px 5px;
  transform: translateX(-50%);
  transition: top 250ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &-visible {
    top: 0;
  }

  &-hidden {
    top: calc(0 - 100px);
  }

  span {
    margin: 0 5rem;
    font-family: var(--font-family-base);
  }

  img {
    cursor: pointer;
    transform: scale(0.5);
    padding: 0 8px;
    height: 32px;
  }

  /* will go away with new UI design */
  &.atTop {
    bottom: 0;
    height: 32px;
  }

}
