@import 'variables.css';

:root {
--background: #FFFA81;
--color: #67654D;
--ribbon-fontsize: 1rem;
--close-size: 20px;
}

.ribbongrunt {
  height: var(--grunt-height);
  line-height: var(--grunt-height);
  font-size: var(--ribbon-fontsize);
  background-color: var(--background);
  color: var(--color);
  text-align: center;
  position: fixed;
  z-index: 1;
  width: calc(100% - 100px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 8px 8px;
  transition: top 250ms ease;
}
.ribbongrunt-visible {
  top: 0;
}
.ribbongrunt-hidden {
  top: calc(0 - var(--grunt-height));
}
.ribbongrunt button {
  float: right;
  width: var(--close-size);
  height: var(--grunt-height);
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-size: var(--close-size);
  line-height: var(--close-size);
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 15px;
}
