@import 'variables.css';

:root {
--background: #FFFA81;
--color: #67654D;
--ribbon-fontsize: 1rem;
--close-size: 20px;
}

.ribbongrunt {
  height: var(--grunt-height);
  line-height: var(--grunt-height);
  font-size: var(--ribbon-fontsize);
  background-color: var(--background);
  color: var(--color);
  text-align: center;
  position: fixed;
  top: var(--GlobalNav-height-chrome);
  z-index: var(--z-grunt);
  width: 70%;
  left: 50%;
  transform: translateX(-50%);

  button {
    float: right;
    width: var(--close-size);
    height: var(--grunt-height);
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-size: var(--close-size);
    line-height: var(--close-size);
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 15px;
  }

  /* will go away with new UI design */
  &.atTop {
    top: 0;
  }
}
