@import './variables.css';

.SBOLPicker {

  margin: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  position: relative;

  .wrapper {
    background-color: var(--colors-lightGrey);
    border-radius: 100%;
  }
  .highlight {
    z-index: 1;
    flex-shrink: 0;
    padding: 0.2rem;
    border-radius: 2px;
    &:hover {
      background-color: var(--colors-selected);
    }
  }

  .dropdown {
    position: absolute;
    padding: 4px 0;
    left: -61px;
    top: 68px;
    width: 258px;
    background-color: var(--colors-nearlyBlack);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .arrow {
      width: 20px;
      height: 20px;
      background-color: var(--colors-nearlyBlack);
      position: absolute;
      transform: rotate(45deg);
      left: 77px;
      top: -10px;
    }
  }
}