@import './variables.css';

:root {
  --monospaced: 'Roboto Mono', monospace;
  --monosize: 13px;
  --gutter-width: 84px;
}

.sequence-editor {

  width: 100% !important;
  height: 100%;
  font-family: var(--monospaced);
  font-size: var(--monosize);
  border: 1px solid lightgray;
  margin-bottom: 1rem;
  position: relative;

  .gutter {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--gutter-width);
    height: 100%;
    background-color: red;
  }
  .bases {
    position: absolute;
    width: calc(100% - var(--gutter-width));
    left: var(--gutter-width);
    top: 0;
    height: 100%;
    background-color: dodgerblue;
  }

}
