@import './variables.css';

:root {
  --monospaced: 'Roboto Mono', monospace;
  --monosize: 13px;
  --gutter-width: 84px;
}

.sequence-editor-text {
  font-family: var(--monospaced);
  font-size: var(--monosize);
  padding: 0;
  letter-spacing: 0;
  font-kerning: none;
  white-space: nowrap;
}
/*element used for measuring chars*/
.sequence-editor-measure {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  width: auto !important;
  height: auto !important;
}

.sequence-editor * {
  border-radius: 0 !important;
}

.sequence-editor {

  width: 100% !important;
  height: 100%;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
  position: relative;

  .gutter {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--gutter-width);
    height: 100%;
    border-right: 1px solid lightgray;
    pointer-events: none;
    user-select: none;

    .gutter-row {
      position: absolute;
      color: black;
      margin: 0 !important;
      padding: 0;
      white-space: pre-wrap;
      width: auto !important;
      pointer-events: none;
      user-select: none;
    }
  }
  .bases {
    position: absolute;
    width: calc(100% - var(--gutter-width));
    left: var(--gutter-width);
    top: 0;
    height: 100%;

    .bases-row {
      position: absolute;
      color: black;
      margin: 0 !important;
      padding: 0;
      white-space: pre-wrap;
      width: auto !important;
      pointer-events: none;
      user-select: none;
    }
  }
  .bases:focus {
    background-color: lightgray;
    outline: none;
  }
  .caret {
    position: absolute;
    pointer-events: none;
    user-select: none;
    background-color: dodgerblue;
    width: 2px;
    z-index: 1;
  }

}
