@import './variables.css';

:root {
  --switch-size: 1.5rem;
  --switch-speed: var(--timing-fast);
}

.slider-switch {
  position: relative;
  display: inline-block;
  width: calc(var(--switch-size) * 2);
  height: var(--switch-size);
  background-color: var(--colors-lighterGrey);
  border-radius: calc(var(--switch-size) / 2);
  cursor: pointer;

  &-nob {
    position: absolute;
    background-color: var(--colors-grey);
    width: var(--switch-size);
    height: var(--switch-size);
    border-radius: 100%;
    transition: transform var(--switch-speed) ease, background-color var(--switch-speed) ease;

    &-on {
      transform: translateX(var(--switch-size));
      background-color: var(--colors-selected);
    }
  }

  &-disabled {
    .slider-switch-nob {
      background-color: var(--colors-grey) !important;
    }
    pointer-events: none;
    cursor: default !important;
  }
}
