@import '../../../node_modules/normalize.css/normalize.css';
@import '../../../src/styles/variables.css';
@import '../../../src/styles/base.css';
@import '../../../src/styles/fonts.css';

.App {
  width: 980px;
  margin: 0 auto;
  background-color: var(--colors-white);
}

a {
  &, &:hover, &:visited, &:active {
    text-decoration: none;
  }
}