@import '../../../src/styles/variables.css';

.ConstructAbout {
  display: flex;
  flex-direction: row;
  padding: 2rem 0 0;

  &-glyph {
    width: 200px;
    height: 200px;

  }

  &-metadata {
    padding-left: 3rem;
  }

  &-name {

  }
}