.ErrorPage {
  line-height: 1.2;
  margin: 0;
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;

  h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
  }

  p {
    margin: 0 auto;
    width: 280px;
  }

  pre {
    text-align: left;
    margin-top: 2rem;
  }
}
